footer {
    height: 100px;
    width: 100%;
    background-color: #35393c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-family: menuFont;
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

a:hover {
    animation-name: transition;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 850px) {
    a {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    a {
        font-size: 24px;
    }
}