h1 {
    margin-top: 0px;
    text-align: center;
    font-family: menuFont;
    font-size: 56px;
    color: #FA9C1D;
    -webkit-text-stroke: 0.75px black;
    padding-top: 25px;
}

#about {
    height: 1000px;
    background-image: url(../../assets/img/background.jpg);
    background-repeat: repeat;
}

#aboutContainer {
    background-color:rgba(89, 17, 119, 0.7);
    border-radius: 25px;
    width: 600px;
    text-align: center;
    margin-top: 40px;
}

#aboutMe {
    display: flex;
    justify-content: center;
}

p, a {
    font-family: menuFont;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    margin: 20px
}

a:hover {
    animation-name: transition;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

img {
    height: 200px;
    margin-top: 25px;
    border-radius: 15px;
    border: 3px solid white;
}

@media (max-width: 800px) {
    #aboutContainer {
        width: 400px;
    }

    p, a {
        font-size: 32px;
        -webkit-text-stroke: 1.25px black;
    }

    img {
        height: 175px;
    }
}

@media (max-width: 450px) {
    #aboutContainer {
        width: 250px;
    }

    p, a {
        font-size: 24px;
        -webkit-text-stroke: 1px black;
        margin: 10px;
    }

    img {
        height: 125px;
    }

    #aboutContainer {
        margin-top: 100px;
    }
}