<article id="heroDetails">
    <section id="info">
        <section id="welcome" *ngIf="!hero">
            <h1>WELCOME!</h1>
            <h2>PLEASE SELECT A HERO</h2>
        </section>
        <section id="heroInfo" *ngIf="hero">
            <img src={{hero.portrait}} alt={{hero.key}}/>
            <section id="textInfo">
                <p>Name: {{hero.name}}</p>
                <p>Role: {{hero.role}}</p>
                <p>HP: {{hero.health}}</p>
                <p>ULT: {{hero.ult}}</p>
            </section>
        </section>
    </section>
    <section id="edit">
        <h1>EDIT HERO</h1>
    </section>
</article>