#heroDetails {
    height: 1260px;
}

#info {
    height: 630px;
    background-image: url(../../assets/img/splash.jpg);
    background-repeat: space;
    background-size: cover;
}

h1, h2 {
    margin: 0;
    text-align: center;
    font-family: menuFont;
    font-size: 56px;
    color: white;
    -webkit-text-stroke: 0.75px black;
}

h1 {
    color: #FA9C1D;
    padding-top: 25px;
}


#edit {
    height: 630px;
    background-image: url(../../assets/img/background.jpg);
    background-repeat: repeat;
}

@media (max-width: 1200px) {
    #heroDetails {
        height: 980px;
    }

    #info {
        height: 490px;
    }

    #edit {
        height: 490px;
    }

    h1, h2 {
        font-size: 44px;
    }
}

@media (max-width: 650px) {
    #heroDetails {
        height: 840px;
    }

    #info {
        height: 420px;
    }

    #edit {
        height: 420px;
    }

    h1, h2 {
        font-size: 32px;
        -webkit-text-stroke: 0.5px black;
    }
}