<article id="heroDetails">
    <section id="info">
        <section id="welcome" *ngIf="!hero">
            <h1>WELCOME!</h1>
            <h2>PLEASE SELECT A HERO</h2>
        </section>
        <section id="heroInfo" *ngIf="hero">
            <img src={{hero.portrait}} alt={{hero.key}}/>
            <section id="textInfo">
                <p>Name: {{hero.name}}</p>
                <p>Role: {{hero.role}}</p>
                <p>HP: {{hero.health}}</p>
                <p>ULT: {{hero.ult}}</p>
            </section>
        </section>
    </section>
    <section id="edit">
        <h1 id="editTitle">EDIT HERO</h1>
        <h2 *ngIf="!hero">PLEASE SELECT A HERO TO EDIT</h2>
        <section id="editInfo" *ngIf="hero">
            <section id="editContainer">
                <table>
                    <tr>
                        <td><label for="heroName">Name: </label></td>
                        <td><input id="heroName" [(ngModel)]="hero.name" maxlength="12" placeholder="name"/></td>
                    </tr>
                    <tr>
                        <td><label for="heroRole">Role: </label></td>
                        <td>
                            <select id="heroRole" [(ngModel)]="hero.role">
                                <option *ngFor="let role of roleArr" [value]="role">{{role}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="heroHealth">HP: </label></td>
                        <td><input id="heroHealth" [(ngModel)]="hero.health" max="1000" placeholder="HP"/></td>
                    </tr>
                    <tr>
                        <td><label for="heroUlt">ULT: </label></td>
                        <td><input id="heroUlt" [(ngModel)]="hero.ult" maxlength="14" placeholder="ULT"/></td>
                    </tr>
                </table>
            </section>
        </section>
    </section>
</article>