@font-face {
    font-family: menuFont;
    src: url(assets/fonts/bignoodletoo.ttf);
}

@font-face {
    font-family: OWFont;
    src: url(assets/fonts/bebasneue.ttf);
}

@keyframes transition {
    0%   {color: white;}
    100% {color: #FA9C1D;}
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}